@inherits WebSearchIndexing.BuildingBlocks.Web.Components.ComponentBase

<div class="@Class" style="@Style">
    <div class="links__actions">
        <MudButton Style="text-transform: none"
                   Color="Color.Success"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="ShowLoadLinksDialogAsync">
            Add links
        </MudButton>

        <MudButton Style="text-transform: none"
                   Disabled="!_filteredUrls.Any()"
                   StartIcon="@Icons.Material.Filled.DoneAll"
                   OnClick="SelectAllLinks">
            Select all
        </MudButton>

        <MudButton Style="text-transform: none"
                   Disabled="SelectedUrls.Any() is false"
                   Color="Color.Error"
                   StartIcon="@Icons.Material.Filled.Delete"
                   IconColor="@(SelectedUrls.Any() is false ? Color.Surface : Color.Error)"
                   OnClick="DeleteSelectedLinksAsync">
            Delete
        </MudButton>

        <MudButton Style="text-transform: none"
                   Disabled="!_allUrls.Any()"
                   Color="Color.Info"
                   StartIcon="@(_isHideCompleted ? Icons.Material.Filled.RemoveRedEye : Icons.Material.Outlined.RemoveRedEye)"
                   IconColor="Color.Info"
                   OnClick="ShowOrHideCompletedLinksAsync">
            @(_isHideCompleted ? "Show" : "Hide") completed
        </MudButton>
    </div>

    <MudDivider Style="background: var(--mud-palette-divider);height: 1px" />

    <div class="table__content">
        @if (_allUrls.Count == 0 && _currentPage == 1 && !_isLoadingUrls)
        {
            <div class="pa-3">
                <MudAlert Severity="Severity.Error" Variant="Variant.Filled" NoIcon="true">
                    <MudText Typo="Typo.body2">Urls not found</MudText>
                </MudAlert>
            </div>
        }
        else
        {
            <MudTable Class="links__table"
                      T="UrlEntry"
                      Items="_filteredUrls"
                      RowsPerPage="30"
                      OnRowClick="OnRowClick"
                      LoadingProgressColor="Color.Primary"
                      Loading="_isLoadingUrls"
                      Hover="true"
                      Striped="true"
                      HorizontalScrollbar="true"
                      FixedHeader="true"
                      Height="600px"
                      Elevation="0"
                      Bordered="false">
                <HeaderContent>
                    <MudTh />
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<UrlEntry, object>(x=> _isEditMode ? string.Empty : x.UrlRequest.Url)">
                            <MudText Style="font-weight: 500" Color="Color.Surface"
                                     Typo="Typo.subtitle2">
                                Url
                            </MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<UrlEntry, object>(x=> _isEditMode ? string.Empty : x.UrlRequest.Status)">
                            <MudText Style="font-weight: 500" Color="Color.Surface"
                                     Typo="Typo.subtitle2">
                                Status
                            </MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<UrlEntry, object>(x => _isEditMode ? string.Empty : x.UrlRequest.Priority)">
                            <MudText Style="font-weight: 500" Color="Color.Surface"
                                     Typo="Typo.subtitle2">
                                Priotiry
                            </MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<UrlEntry, object>(x =>  _isEditMode ? string.Empty : x.UrlRequest.AddedAt)">
                            <MudText Style="font-weight: 500" Color="Color.Surface"
                                     Typo="Typo.subtitle2">
                                Added at
                            </MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<UrlEntry, object>(x=> _isEditMode ? string.Empty : x.UrlRequest.ProcessedAt)">
                            <MudText Style="font-weight: 500" Color="Color.Surface"
                                     Typo="Typo.subtitle2">
                                Processed at
                            </MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh />
                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="Checked">
                        <MudCheckBox @bind-Value="context.Checked" />
                    </MudTd>
                    <MudTd DataLabel="Url">
                        @if (context.Edited)
                        {
                            <MudTextField T="string"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Value="context.UrlRequest.Url"
                                          ValueChanged="url => context.UrlRequest.UpdateUrl(url)"
                                          ValueExpression="@(() => context.UrlRequest.Url)" />
                        }
                        else
                        {
                            <MudStack Row="true" AlignItems="AlignItems.Center">
                                <MudText Typo="Typo.body2">@context.UrlRequest.Url</MudText>

                                <MudLink Href="@context.UrlRequest.Url" Target="_blank" Underline="Underline.None">
                                    <MudIcon Icon="@Icons.Material.Filled.Link" Color="Color.Info" />
                                </MudLink>
                            </MudStack>
                        }
                    </MudTd>
                    <MudTd DataLabel="Status">
                        <MudChip Color="@(context.UrlRequest.Status switch
                                 {
                                     UrlItemStatus.Pending => Color.Info,
                                     UrlItemStatus.Completed => Color.Success,
                                     UrlItemStatus.Failed => Color.Error,
                                     _ => Color.Primary
                                 })"
                                 Variant="Variant.Text"
                                 Label="true">
                            @context.UrlRequest.Status
                        </MudChip>
                    </MudTd>
                    <MudTd DataLabel="Priority">
                        @if (context.Edited)
                        {
                            <MudSelect Style="width: 50px"
                                       T="UrlItemPriority"
                                       Variant="Variant.Outlined"
                                       Margin="Margin.Dense"
                                       Immediate="true"
                                       AnchorOrigin="Origin.BottomCenter"
                                       Value="context.UrlRequest.Priority"
                                       ValueChanged="priority => context.UrlRequest.UpdatePriority(priority)"
                                       ValueExpression="@(() => context.UrlRequest.Priority)">
                                <MudSelectItem Value="UrlItemPriority.Low">Low</MudSelectItem>

                                <MudSelectItem Value="UrlItemPriority.Medium">Medium</MudSelectItem>

                                <MudSelectItem Value="UrlItemPriority.High">High</MudSelectItem>
                            </MudSelect>
                        }
                        else
                        {
                            <MudChip Color="@(context.UrlRequest.Priority switch
                                     {
                                         UrlItemPriority.Low => Color.Surface,
                                         UrlItemPriority.Medium => Color.Warning,
                                         UrlItemPriority.High => Color.Error,
                                         _ => Color.Primary
                                     })">
                                @context.UrlRequest.Priority
                            </MudChip>
                        }
                    </MudTd>
                    <MudTd DataLabel="Added at">@context.UrlRequest.AddedAt.ToString("MMM dd, hh:mm:ss tt")</MudTd>
                    <MudTd DataLabel="Processed at">@(context.UrlRequest.ServiceAccount is null ? "Not processed" : context.UrlRequest.ProcessedAt.ToString("MMM dd, hh:mm:ss tt"))</MudTd>
                    <MudTd>
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                            @if (context.Edited)
                            {
                                <MudIconButton Style="height: fit-content"
                                               Icon="@Icons.Material.Filled.Save"
                                               Variant="Variant.Filled"
                                               Color="Color.Success"
                                               OnClick="() => ItemHasBeenCommittedAsync(context)" />

                                <MudIconButton Icon="@Icons.Material.Filled.Cancel"
                                               Color="Color.Surface"
                                               OnClick="() => ResetItemToOriginalValue(context)" />
                            }
                            else
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="() => BackupItem(context)" />
                            }
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => RemoveItemAsync(context)" />
                        </MudStack>
                    </MudTd>
                </RowTemplate>

                <PagerContent>
                    @if (_totalPages > 1)
                    {
                        <MudDivider Style="background: var(--mud-palette-divider);height: 1px" />

                        <MudPagination Class="pa-4"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Rectangular="true"
                                       DisableElevation="true"
                                       Count="_totalPages"
                                       Selected="_currentPage"
                                       SelectedChanged="ChangePageAsync" />
                    }
                </PagerContent>
            </MudTable>
        }
    </div>
</div>
