@using WebSearchIndexing.Styling
@using WebSearchIndexing.Pages.Layout.Components
@inherits LayoutComponentBase

<CustomThemeProvider @ref="@_mudThemeProvider" IsDarkMode="_isDarkMode" Theme="_customTheme" />
<MudDialogProvider CloseButton="true" FullWidth="true" CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<ColorClassProvider />

<AccessComponent IsVisible="(!_hasAccess && _isCanShowContent)" AccessAllowed="AllowAccess" />

@if (_isCanShowContent && _hasAccess)
{
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/queng" Target="_blank" />
            <MudSwitch Color="Color.Primary"
                       UnCheckedColor="Color.Tertiary"
                       Size="Size.Large"
                       ThumbIcon="@(_isDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Outlined.LightMode)"
                       @bind-Value="@_isDarkMode" />
        </MudAppBar>

        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="1" Variant="DrawerVariant.Responsive">
            <MudNavMenu Class="mt-3">
                <MudNavLink ActiveClass="drawer__item--active"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Dashboard"
                            Href="/">Dashboard</MudNavLink>

                <MudNavGroup Title="Urls" Icon="@Icons.Material.Filled.Link">
                    <MudNavLink ActiveClass="drawer__item--active"
                                Match="NavLinkMatch.Prefix"
                                Icon="@Icons.Material.Filled.AddLink"
                                Href="/all-urls">All urls</MudNavLink>

                    <MudNavLink ActiveClass="drawer__item--active"
                                Match="NavLinkMatch.Prefix"
                                Icon="@Icons.Material.Filled.PhonelinkRing"
                                Href="/processed-urls">Processed urls</MudNavLink>
                </MudNavGroup>

                <MudNavLink ActiveClass="drawer__item--active"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Key"
                            Href="/service-accounts">Service accounts</MudNavLink>

                <MudNavLink ActiveClass="drawer__item--active"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Settings"
                            Href="/settings">Settings</MudNavLink>
            </MudNavMenu>
        </MudDrawer>

        <MudMainContent>
            <div class="mt-6 mx-6">
                @Body
            </div>
        </MudMainContent>
    </MudLayout>
}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>